@page
@model AdminEmentor.Pages.Tutors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.HireDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tutor.TutorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
