@page
@model AdminEmentor.Pages.Tutors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.HireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tutor?.TutorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
